{% extends 'layout.html' %}

{% block title %} Login - HODL BTC {% endblock %}

{% block content %}


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Por favor, informe seu e-mail e sua senha</p>

              <form action="{{url_for('login')}}" method='POST'>  
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="email">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control form-control-lg" />                    
                </div>

                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="password">Senha</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                </div>
                {% if msg %}
                <div class="mt-5">
                  {{msg}}
                </div>
                {% endif %}
                <button class="btn btn-outline-light btn-lg px-5 mt-5" value="Login" type="submit">Entrar</button>
              </form> 
            </div>
            
            <div>
              <p class="mb-0">Não possui uma conta? <a href="{{url_for('register')}}" class="text-white-50 fw-bold">Cadastre-se</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}